@import "tailwindcss";

@layer utilities {
    @keyframes slideFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animate-slide {
  animation: slideFromRight 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-fade {
  animation: fadeIn 0.8s ease-out forwards;
}

.stat-count {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3b82f6;
}
}

@layer fonts {
  body {
  font-family: 'Press Start 2P', monospace;
}
}

